[submodule "thirdparty/pegtl"]
	path = thirdparty/pegtl
	url = https://github.com/ColinH/PEGTL.git
[submodule "thirdparty/bmcl"]
	path = thirdparty/bmcl
	url = https://github.com/CPB9/bmcl.git
[submodule "thirdparty/gtest"]
	path = thirdparty/gtest
	url = https://github.com/CPB9/gtest.git
[submodule "thirdparty/zpaq"]
	path = thirdparty/zpaq
	url = https://github.com/zpaq/zpaq.git
[submodule "thirdparty/tclap"]
	path = thirdparty/tclap
	url = https://github.com/eile/tclap.git
[submodule "thirdparty/toml11"]
	path = thirdparty/toml11
	url = https://github.com/ToruNiina/toml11.git
